.real-estate-detail {
  margin-top: 20px !important;
  margin-left: 20px !important;
  color: #333;
  padding: 20px;
  // max-width: 800px;
  margin: 0 auto;
  // background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.real-estate-slider {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Центрирование и обрезка */
  border-radius: 10px;
}

.no-photos {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #f9f9f9;
  border-radius: 10px;
  font-size: 16px;
  color: #888;
  width: 700px; /* Увеличено */
}

.swiper-container {
  max-width: 800px; /* Ограничение ширины слайдера */
  aspect-ratio: 16 / 9; /* Соотношение сторон */
  border-radius: 10px;
  overflow: hidden;
}

.real-estate-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  // color: ;
}

.price {
  font-size: 20px;
  color: #27ae60;
  margin-bottom: 20px;
  font-weight: 700;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  margin-bottom: 20px;
}

.info-grid p {
  margin: 0;
  font-size: 14px;
}

.info-grid p strong {
  font-weight: 600;
}

.date {
  font-size: 14px;
  color: #aaa;
  margin-top: 60px;
  text-align: right;
}

.loading,
.error {
  text-align: center;
  font-size: 16px;
  color: #888;
}
