.MuiList-root MuiList-padding css-6i4tew-MuiList-root {
  display: flex;
  gap: 200px;
}


.css-p3erqr-MuiDrawer-docked .MuiDrawer-paper {
  width: 320px;
  box-sizing: border-box;
  background-image: none;
  -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  overflow-x: hidden;
}