.wrapper {
  max-width: 1420px;
  margin: 0 auto;
  .add_btn {
    padding: 10px 20px;
    margin-top: 20px;
    background: #003161;
    color: #fff;
    border-radius: 8px;
    border: none;
    border: solid 1px #ccc;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    border: none;
  }
}